.taxonomy-picker select {clear:left; width: 100%;}
.tpicker_search_text {width:90%;}

.taxonomy-picker .tree .level2 {padding-left:8%;}
.taxonomy-picker .tree .level3 {padding-left:16%;}
.taxonomy-picker .tree .level4 {padding-left:24%;}
.taxonomy-picker .tree .level5 {padding-left:32%;}
.taxonomy-picker .tree .level6 {padding-left:40%;}

.taxonomy-picker .pruned option {display:none;}
.taxonomy-picker li.pruned .selected, .taxonomy-picker li.pruned .ancestor, .taxonomy-picker li.pruned .kid, 
	.taxonomy-picker li.pruned .sibling, .taxonomy-picker li.pruned .level1  {display:block;}